Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel $\rightarrow$ Restart) and then **run all cells** (in the menubar, select Cell $\rightarrow$ Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [1]:
NAME = "SÃ¼meyye Acar"
COLLABORATORS = ""

---

## Foundations of Data Literacy and Data Science
# Homework 3: The Pandas library, continued

1) a) Please copy the csv file containing the energy source data frame you saved in your last homework into the same folder as this notebook. Import pandas and load the data frame.

In [2]:
import pandas as pd

In [3]:
braunkohle = [18.7, 16.9]
windkraft = [20.7, 27.7]
photovoltaik = [7.4, 12.5]
years = [2019, 2023]

thisdict = {
    "braunkohle": braunkohle,
    "windkraft": windkraft,
    "photovoltaik": photovoltaik,
}

df = pd.DataFrame(thisdict, index=years)

# raise NotImplementedError()

In [4]:
print(df)

      braunkohle  windkraft  photovoltaik
2019        18.7       20.7           7.4
2023        16.9       27.7          12.5

1) b) Create a copy of the data frame called df2, and add a column of NaN values called "erdgas" to df2.

In [5]:
import numpy as np

df2 = df.copy()

df2["erdgas"] = np.nan

# raise NotImplementedError()

In [6]:
print(df2)

      braunkohle  windkraft  photovoltaik  erdgas
2019        18.7       20.7           7.4     NaN
2023        16.9       27.7          12.5     NaN

1) c) Drop all rows of df2, then add rows of NaNs for the years 2020 and 2022, with the year number as the row index.

In [7]:
df2 = df2.iloc[0:0]

df2.loc[2020] = [np.nan] * len(df2.columns)
df2.loc[2022] = [np.nan] * len(df2.columns)

# raise NotImplementedError()

In [8]:
print(df2)

      braunkohle  windkraft  photovoltaik  erdgas
2020         NaN        NaN           NaN     NaN
2022         NaN        NaN           NaN     NaN

1) d) Fill in the appropriate values for "Erdgas" from the website: https://www.destatis.de/DE/Themen/Branchen-Unternehmen/Energie/Erzeugung/Tabellen/bruttostromerzeugung.html. Also fill in the correct years in the "year" column. Then drop the columns for the other energy sources.

In [9]:
df2.loc[2020, "erdgas"] = 16.5  
df2.loc[2022, "erdgas"] = 13.7  

df2["year"] = df2.index

df2 = df2.drop(columns=["braunkohle", "windkraft", "photovoltaik"])

# raise NotImplementedError()

In [10]:
print(df2)

      erdgas  year
2020    16.5  2020
2022    13.7  2022

2) a) Use one of the methods you learned in the lab session to join the two data frames into one frame called "wholedf" so it contains all the rows, columns and information from both data frames, with NaNs in the missing cells. The combined data frame should have 4 rows and 4 columns. Check if all values are correct.

In [11]:
wholedf = pd.concat([df, df2], axis=0)

# raise NotImplementedError()

In [12]:
print(wholedf)

      braunkohle  windkraft  photovoltaik  erdgas    year
2019        18.7       20.7           7.4     NaN     NaN
2023        16.9       27.7          12.5     NaN     NaN
2020         NaN        NaN           NaN    16.5  2020.0
2022         NaN        NaN           NaN    13.7  2022.0

2) b) Transpose the "wholedf" data frame (flip it such that the columns become rows and vice versa). Make sure that the change is saved.

In [13]:
wholedf = wholedf.transpose()

# raise NotImplementedError()

In [14]:
print(wholedf)

              2019  2023    2020    2022
braunkohle    18.7  16.9     NaN     NaN
windkraft     20.7  27.7     NaN     NaN
photovoltaik   7.4  12.5     NaN     NaN
erdgas         NaN   NaN    16.5    13.7
year           NaN   NaN  2020.0  2022.0

2) c) Add a column called "renewable" filled with Boolean values, depending on the row.

In [15]:
wholedf["renewable"] = wholedf.index.isin(["windkraft", "photovoltaik"])

# raise NotImplementedError()

In [16]:
print(wholedf)

              2019  2023    2020    2022  renewable
braunkohle    18.7  16.9     NaN     NaN      False
windkraft     20.7  27.7     NaN     NaN       True
photovoltaik   7.4  12.5     NaN     NaN       True
erdgas         NaN   NaN    16.5    13.7      False
year           NaN   NaN  2020.0  2022.0      False

2) d) Use the pivot method to summarize how many values there are for the renewable and non-renewable energy sources in our data frame in each year. Save the summary in a variable called "pivotdf".

In [ ]:
# pivotdf = wholedf.groupby("renewable").count()
pivotdf = wholedf.pivot_table(index="renewable", aggfunc="count")


# raise NotImplementedError()

In [18]:
print(pivotdf)

           2019  2020  2022  2023
renewable
False         1     2     2     1
True          2     0     0     2